body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color:#1F2937 ;
    align-items: baseline;
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 100px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 12px;
}

.container-1 {
    background-color:#1F2937 ;
    display: flex;
    padding: 100px;
    gap: 24px;
    justify-content: space-evenly;
}

.c1-text {
    width: 800px;
}

.c1-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 12px;
}

.c1-body {
    font-size: 18px;
    color: #E5E7EB;
    padding: 12px;
}

.c1-button {
    padding: 10px 35px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    box-shadow: none;
    border: 0;
    margin-left: 12px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 42px;
}

.c2-title {
    display: flex;
    font-size: 36px;
    font-weight:900;
    color: #1F2937;
    justify-content: center
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 500px;
    height: 250px;
}

.c2-body {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.c2-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    justify-content: space-evenly;
    gap: 12px;
}

.false-image {
    height: 140px;
    width: 140px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-left: 16px;
}

.card-text {
    width: 180px;
}

.container-quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
    justify-content: center;
    padding-right: 225px;
    padding-left: 225px;
}

.c3-body {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
}

.c3-thor {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.signup-container {
    background-color: #3882F6;
    display: flex;
    margin: 75px;
    padding: 48px;
    padding-right: 120px;
    padding-left: 120px;
    border-radius: 10px;
    justify-content: space-between;
}

.signup-title {
    font-size: 24px;
    font-weight:900;
    color: #E5E7EB;
}

.signup-text {
    color: #E5E7EB;
    font-size: 18px;
}

.signup-button-2{
    padding: 10px 35px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    box-shadow: none;
    border:3px solid #E5E7EB;
}

.footer {
    background-color:#1F2937 ;
    color: #F9FAF8;
    text-align: center;
    padding: 26px;
    margin: 0;
}

